/* CSS for large mobile devices */
@media screen and (max-width: 767px) {
    /* Header related css */


    .nabvar {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .logo {
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .nabvar .logo h1 {
        font-size: 2rem;
    }

    /* .nabvar .menu ul {
      display: none;
    } */
    .nabvar .menu ul {
        flex-direction: column;
        gap: .5rem;
    }

    .nabvar .menu ul li a {
        font-size: 0.9rem;
    }

    .nabvar .menu ul li .menu-btn {
        width: auto;
        padding: 0 1rem;
    }

    /* Banner related css */
    .banner {
        flex-direction: column-reverse;
        padding: 0;
        max-width: 100%;
    }

    .banner-contant {
        margin-top: 3rem;
        width: 60%;
    }

    .banner-image {
        width: 80%;
    }

    .banner-contant .banner-sub-title {
        font-size: 2rem;
    }

    h1.banner-title {
        font-size: 4rem;
    }

    .banner-contant ul {
        font-size: 0.9rem;
    }

    .banner-btn .btn-primary {
        margin-right: 1rem;
    }

    .banner-btn .btn-primary,
    .banner-btn .btn-secondary {
        padding: 15px 30px;
        text-align: center;
    }

    /* online-games-section related RESPONSIVE css */
    .online-games-section {
        margin-top: 3rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: .7rem;
    }

    .online-games-items {
        margin-top: 2rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    /* Play instant section responsive code */
    .play-instantly-section {
        flex-direction: column;
    }

    .play-instantly-content {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .play-instantly-content>h1,
    .play-instantly-content>p {
        text-align: center;
    }

    .play-instantly-img {
        width: 23rem;
        height: 13rem;
        background-image: url("../images/Rectangle 55.png");
        margin-left: 4rem;
        margin-top: 1rem;
        background-size: contain;
    }

    .play-instantly-img img {
        width: 7rem;
        height: 9rem;
        border-radius: 8px;
        border: 3px solid #FFF;
        position: relative;
        bottom: -8rem;
        left: 1rem;
    }


}





/* media query for tablet devices */
@media screen and (min-width: 768px) and (max-width: 991px) {

    /* Header related css */
    .navbar {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .logo {
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .navbar .logo h1 {
        font-size: 2rem;
    }

    .navbar .menu ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .navbar .menu ul li a {
        font-size: 0.9rem;
    }

    .nabvar .menu ul li .menu-btn {
        padding: 0 1rem;
        width: 8rem;
    }


    /* Banner related css */
    .banner {
        flex-direction: column-reverse;
        padding: 0;
        max-width: 100%;
    }

    .banner-content {
        margin-top: 3rem;
        width: 60%;
    }

    .banner-image {
        width: 80%;
    }

    .banner-content .banner-sub-title {
        font-size: 2rem;
    }

    h1.banner-title {
        font-size: 4rem;
    }

    .banner-content ul {
        font-size: 0.9rem;
    }

    .banner-btn .btn-primary {
        margin-right: 1rem;
    }

    .banner-btn .btn-primary,
    .banner-btn .btn-secondary {
        padding: 15px 30px;
        text-align: center;
    }

    /* online-games-section related RESPONSIVE css  */
    .online-games-section {
        margin-top: 2rem;
    }

    .online-games-items {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Play instant responsive css  */
    .play-instantly-section {
        flex-direction: column-reverse;
    }
    .play-instantly-content>h1,
    .play-instantly-content>p {
        text-align: center;
    }
    .play-instantly-content {
        width: 70%;
        margin: 0 auto;
        margin-top: 6rem;
    }

    .play-instantly-img {
        width: 23rem;
        height: 13rem;
        background-image: url("../images/Rectangle 55.png");
        margin-left: 4rem;
        margin-top: 3rem;
        background-size: contain;
    }

    .play-instantly-img img {
        width: 7rem;
        height: 9rem;
        border-radius: 8px;
        border: 3px solid #FFF;
        position: relative;
        bottom: -8rem;
        left: 1rem;
    }

}