/* Shared css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,500;1,900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.color-title {
    color: #FF42A5;
}

.sub-title {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: .8rem;
    width: 4.5rem;
    height: 2rem;
}

.logo img {
    width: 100%;
}

.logo h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.logo h1>span {
    color: #FF42A5;
}






/* Header related css */
.nabvar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.nabvar .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

i.fab.fa-youtube {
    color: red;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1.4rem;
}


.nabvar .menu ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}


button.menu-btn {
    width: 262px;
    height: 56px;
    background-color: rgba(11, 2, 35, 0.10);
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-right: 8px; 
    border-radius: 8px;
  }
  button.menu-btn:hover {
    background-color: rgba(11, 2, 35, 0.15);
  }
  button.menu-btn svg {
    width: 20px; 
    height: 20px; 
    fill: #fff; 
    margin-right: 8px; 
  }

/* Banner related css */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.banner-contant {
    text-align: left;
    width: 50%;
    background-image: url("../images/Group14.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.banner-contant .banner-sub-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

h1.banner-title {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-contant ul {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    list-style: none;
    margin: 1rem 0;
}

.banner-contant ul li {
    margin-bottom: .3rem;
}

.banner-btn {
    margin-top: 1.5rem;
}

.banner-btn .btn-primary {
    padding: 21px 40px;
    border-radius: 48px;
    background: #FF42A5;
    border: 0;
}

.banner-btn .btn-secondary {
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
}

.banner-image {
    width: 50%;
}

.banner-image img {
    width: 100%;
}

/* online-games-section related css */

.online-games-section {
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.online-games-items {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.online-games-card {
    border-radius: 16px;
    padding: 1rem .5rem;
}

.online-games-card img {
    width: 100%;
}
 .online-games-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.play-icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 5rem;
}
.online-games-card:hover .play-icon {
    opacity: 1;
}


.online-games-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the alpha value to control the darkness */
    opacity: 0; /* Initially set to 0 */
    transition: opacity 0.3s ease-in-out;
}

.online-games-card:hover::before {
    opacity: 1; /* Show the overlay on hover */
}



/* play-instantly-section related css */
.play-instantly-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.play-instantly-content {
    width: 36%;
    margin-right: 10rem;
}

.play-instantly-img {
    width: 30%;
}

.play-instantly-content>h1 {
    text-align: right;
}

.play-instantly-content>p {
    text-align: right;
}

.play-instantly-img {
    width: 39rem;
    height: 40rem;
    flex-shrink: 0;
    background-image: url("../images/Rectangle 55.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.play-instantly-img img {
    width: 16rem;
    height: 18rem;
    border-radius: 8px;
    border: 10px solid #FFF;
    position: relative;
    bottom: -30rem;
    left: -8rem;
}

/* hover-btn section css code   */

.hover-btn-section {
    width: 80%;
    margin-top: 10rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.hover-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    flex-basis: 12rem;
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: border-color 0.5s ease;
    cursor: pointer;
}

.hover-btn img {
    width: 3rem;
    height: 3rem;
}

.hover-btn h3 {
    width: 7rem;
    color: #0B0223;
    font-size: .9rem;
    font-weight: 600;
    margin: 0;
    transition: color 0.3s ease;
}

.hover-btn:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    transition: border 0.3s ease;
}

.hover-btn:hover h3 {
    color: #FF42A5;
}

/* Footer releted css */
.footer {
    background-color: #0B0223;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 14rem;
    margin: auto;
    color: #FFF;
}

.footer-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 60px;
}

.footer-menu ul li {
    list-style: none;
    /* margin-right: 4rem; */
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.footer-gray-menu ul li {
    color: rgba(255, 255, 255, 0.60) !important;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 4rem;
}
.fab, .fa-youtube{
    margin: 3rem 0;
    color: white;
    font-size: 3rem;
}